*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 40px;
}
#container{
display: flex;

justify-content: center;
}
h1{
    
    margin-bottom: 4%;
    

}

#task-manager {
    padding: 40px;
    
    
}
#input{
    padding: 20px;
    border-radius: 5px;
    border: 2px solid blue;

}
#input search::placeholder{
    font-size: 
    5px;
}

#add-btn{
    padding: 20px;
     border-radius: 5px;
     background-color: rgb(65, 242, 65);
     font-size: 15px;
     font-weight: 600;

}
#search{
    padding: 20px;
    border-radius: 5px;
    border: 2px solid blue;

}
.btn{
    padding: 20px;
}
li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}




.task-completed{
    text-decoration: line-through;
    text-decoration-color: red;
}